version: "3.7"


volumes:
  postgres_data:

services:

  flask:
    image: {{IMAGE_BACKEND}}
    environment:
      - DB_CONNECTION=postgresql://sany:QWEasdzxcqazwsxedc@db:5432/postgres
    restart: unless-stopped
    volumes:
      - ~/flask/logs:/home/flask/logs
    ports: 
      - 5000:5000
    depends_on:
      - db
    command: bash -c "flask db init && flask db migrate && flask db upgrade && flask run --host=0.0.0.0"

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    environment:
        - SCRAPE_URI=http://frontend:8080/nginx_status
        - TELEMETRY_PATH=/metrics
        - NGINX_RETRIES=10
    ports:
      - 9113:9113
    logging:
      driver: "json-file"
      options:
        max-size: "5m"

  cadvisor:
    image: gcr.io/google-containers/cadvisor:latest
    container_name: cadvisor
    ports:
    - 8081:8080
    volumes:
    - /:/rootfs:ro
    - /var/run:/var/run:rw
    - /sys:/sys:ro
    - /var/lib/docker/:/var/lib/docker:ro

  frontend:
    image: {{IMAGE_FRONTEND}}
    volumes:
      - ~/nginx/ssl_certificate:/nginx/ssl_certificate
      - ~/nginx/logs:/logs
    ports:
      - 80:80
      - 443:443
    depends_on:
      - db
      - flask
      
  postgres-exporter:
    hostname: postgres-exporter
    image: bitnami/postgres-exporter
    environment:
      DATA_SOURCE_NAME: "postgresql://sany:QWEasdzxcqazwsxedc@db:5432/postgres?sslmode=disable"
    ports:
      - 9187:9187

  db:
    image: postgres:12.2-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: sany
      POSTGRES_PASSWORD: QWEasdzxcqazwsxedc
      POSTGRES_DB: postgres
